.headerBg{
     width: 51rem;
     height: 40rem;
}
.top{
     padding-top: 5rem;
     margin-left: 3rem;
     display: flex;
     position: relative;
     flex-direction: row;
}

.headerText{
     margin-top: 3rem;
     display: flex;
     flex-direction: column;
     position: absolute;
     color: black;
     right: 2rem;
     .header{
          font-size: 50px;
     }
     .under-header{
          font-size: 25px;
     }
     .description{
          margin-top: 1rem;
          font-size: 20px;
          width: 25rem;
     }
}
.button{
     margin-top: 3rem;
     background-color: rgba($color: #024575, $alpha: 0.8);
     font-size: 25px;
     border: 2px solid #fff;
     transition: .4s;
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
     width: 9rem;
     text-align: center;
     &:hover{
          transition: .4s;
          background-color: #fff;
          border: 2px solid #024575;
          cursor: pointer;
     }
}

.projectsAll{
     margin-left: 3rem;
     position: relative;
     .projectButtons{
          display: flex;
          flex-direction: row;
     }
     .between{
          margin-top: 3rem;
          margin-left: 1rem;
          margin-right: 1rem;
          font-size: 39px;
     }
     .project{
          margin-top: 3rem;
          display: flex;
          flex-wrap: wrap;
     }
     .projects-item{
          margin-right: 0;
          cursor: pointer;
     }
     .project-img{
          width: 23rem;
          height: 19rem;
     }
}
@media screen and (max-width: 320px){
     .button{
          margin-top: 3rem;
          padding-bottom: 0.3rem;
          width: 7rem;
          font-size:20px;
     }
}

@media screen and(max-width: 900px){
     .projectsAll{
          margin-top: 30rem;
     }
     .headerBg{
          display:none;
     }
     .projectsAll{
          margin-left: 0.5rem;
          position: relative;
          .project-img{
               position:absolute;
               width: 18rem;
               height: 16rem;
          }
          .project{
               margin-left: 0.5rem;
               margin-top: 3rem;
          }
          .between{
               margin-top: 3rem;
               margin-left: 0.5rem;
               margin-right: 0.5rem;
               font-size: 39px;
          }
     }
     .headerText{
          position: absolute;
          left: -1.5rem;
          .description{
               font-size: 20px;
               width: 20rem;
          }
     }
}